.ico {
    @include Inline-block-config;
    @include Hide_txt;
    &.head01 {
        @include Background($sprite: 'ico-head01');
        width: 31px;
        height: 25px;
    }
    &.head02 {
        @include Background($sprite: 'ico-head02');
        width: 31px;
        height: 25px;
    }
    &.head03 {
        @include Background($sprite: 'ico-head03');
        width: 31px;
        height: 25px;
    }
    &.head04 {
        @include Background($sprite: 'ico-head04');
        width: 31px;
        height: 25px;
    }
    &.head05 {
        @include Background($sprite: 'ico-head05');
        width: 31px;
        height: 25px;
    }
    &.head06 {
        @include Background($sprite: 'ico-head06');
        width: 31px;
        height: 25px;
    }
    &.head07 {
        @include Background($sprite: 'ico-head07');
        width: 31px;
        height: 25px;
    }
    &.head08 {
        @include Background($sprite: 'ico-head08');
        width: 31px;
        height: 25px;
    }

    &.config {
        @include Background($sprite: 'ico-top01');
        width: 30px;
        height: 30px;
    }
    &.design {
        @include Background($sprite: 'ico-top02');
        width: 30px;
        height: 30px;
    }
    &.crm {
        @include Background($sprite: 'ico-top03');
        width: 30px;
        height: 30px;
    }
    &.alarm {
        @include Background($sprite: 'ico-alarm');
        position: relative;
        width: 31px;
        height: 34px;
        em {
            @include Position($top: 0px, $right: -7px);
            @include Flex-center-center;
            background-color: #89b03f;
            font-size: 12px;
            color: #fff;
            width: 20px;
            height: 20px;
            border-radius: 100%;
        }
    }
    &.logout {
        @include Background($sprite: 'ico-logout');
        width: 30px;
        height: 31px;
    }
    &.excel {
        @include Background($sprite: 'ico-excel');
        width: 15px;
        height: 17px;
    }
    &.print {
        @include Background($sprite: 'ico-print');
        width: 14px;
        height: 12px;
    }
    &.modify {
        @include Background($sprite: 'ico-modify');
        width: 11px;
        height: 13px;
    }
}
.opened {
    .head01 {
        @include Background($sprite: 'ico-head01-on');
    }
    .head02 {
        @include Background($sprite: 'ico-head02-on');
    }
    .head03 {
        @include Background($sprite: 'ico-head03-on');
    }
    .head04 {
        @include Background($sprite: 'ico-head04-on');
    }
    .head05 {
        @include Background($sprite: 'ico-head05-on');
    }
    .head06 {
        @include Background($sprite: 'ico-head06-on');
    }
    .head07 {
        @include Background($sprite: 'ico-head07-on');
    }
    .head08 {
        @include Background($sprite: 'ico-head08-on');
    }
}

.icoTxt {
    @include Flex-center-center($display: inline-flex);
    font-size: 10px;
    width: 17px;
    height: 17px;
    margin: 0 1px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    &.dark-orange {
        background-color: #c27048;
    }
    &.wine {
        background-color: #8a494d;
    }
    &.light-green {
        background-color: #89b03f;
    }
    &.dark-green {
        background-color: #3a5542;
    }
}

.icoLine {
    @include Flex-center-center($display: inline-flex);
    font-size: 10px;
    height: 17px;
    padding: 0 3px;
    margin: 0 1px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    box-sizing: border-box;
    letter-spacing: 0;
    border-radius: 3px;
    &.dark-orange {
        border: 1px solid #c27048;
        color: #c27048;
    }
    &.wine {
        border: 1px solid #8a494d;
        color: #8a494d;
    }
    &.light-green {
        border: 1px solid #89b03f;
        color: #89b03f;
    }
    &.dark-green {
        border: 1px solid #3a5542;
        color: #3a5542;
    }
}

.bt {
    @include Flex-center-center($display: inline-flex);
    vertical-align: middle;
    cursor: pointer;
    &.remove-value {
        @include Background($sprite: 'btn_attach_delete', $type: 'gif');
        @include Hide_txt;
        width: 15px;
        height: 14px;
    }
    &.type05 {
        @include Inline-block-config;
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #c4cbd0;
        font-size: 13px;
        color: #666;
        text-align: center;
        background-color: #fff;
        height: 30px;
        line-height: 28px;
        width: 68px;
        min-width: 68px;
    }
    &.normal {
        background-color: #fff;
        color: #58595b;
        font-size: 16px;
        width: 150px;
        height: 43px;
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        text-align: center;
        padding: 0 5px;
        &.green {
            border-color: #89b03f;
            background-color: #89b03f;
            color: #fff;
        }
    }
    &.middle {
        height: 33px;
        padding: 0 15px;
        background-color: #fff;
        color: #58595b;
        font-size: 14px;
        border: 1px solid #e7e7e7;
        box-sizing: border-box;
        i {
            margin-right: 5px;
        }
        &.black {
            border-color: #3c3e26;
            background-color: #3c3e26;
            color: #fff;
        }
    }
}

.bt-W {
    font-size: 0;
    @include Flex-center-center;
    .bt + .bt {
        margin-left: 10px;
    }
}
