.ico {
    @include Inline-block-config;
    @include Hide_txt;
    &.head01 {
        @include Background($sprite: 'ico-head01');
        width: 31px;
        height: 25px;
    }
    &.head02 {
        @include Background($sprite: 'ico-head02');
        width: 31px;
        height: 25px;
    }
    &.head03 {
        @include Background($sprite: 'ico-head03');
        width: 31px;
        height: 25px;
    }
    &.head04 {
        @include Background($sprite: 'ico-head04');
        width: 31px;
        height: 25px;
    }
    &.head05 {
        @include Background($sprite: 'ico-head05');
        width: 31px;
        height: 25px;
    }
    &.head06 {
        @include Background($sprite: 'ico-head06');
        width: 31px;
        height: 25px;
    }
    &.head07 {
        @include Background($sprite: 'ico-head07');
        width: 31px;
        height: 25px;
    }
    &.head08 {
        @include Background($sprite: 'ico-head08');
        width: 31px;
        height: 25px;
    }
}
.opened {
    .head01 {
        @include Background($sprite: 'ico-head01-on');
    }
    .head02 {
        @include Background($sprite: 'ico-head02-on');
    }
    .head03 {
        @include Background($sprite: 'ico-head03-on');
    }
    .head04 {
        @include Background($sprite: 'ico-head04-on');
    }
    .head05 {
        @include Background($sprite: 'ico-head05-on');
    }
    .head06 {
        @include Background($sprite: 'ico-head06-on');
    }
    .head07 {
        @include Background($sprite: 'ico-head07-on');
    }
    .head08 {
        @include Background($sprite: 'ico-head08-on');
    }
}

.bt {
    @include Inline-block-config;
    &.remove-value {
        @include Background($sprite: 'btn_attach_delete', $type: 'gif');
        @include Hide_txt;
        width: 15px;
        height: 14px;
    }
    &.type05 {
        box-sizing: border-box;
        border-radius: 3px;
        border: 1px solid #c4cbd0;
        font-size: 13px;
        color: #666;
        text-align: center;
        background-color: #fff;
        height: 30px;
        line-height: 28px;
        width: 68px;
        min-width: 68px;
    }
}
