body.fixed {
    overflow: hidden;
    position: fixed;
}
.layer_dimmed {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    font: 0/0 a;
    opacity: 0.7;
    z-index: 100;
    display: none;
}

.pop_layer {
    position: fixed;
    display: none;
    z-index: 110;
    width: 100%;
    top: 0;
    left: 0;
    &.layer-360 {
        width: 390px;
    }
    &.layer-750 {
        width: 780px;
    }
    &.layer-960 {
        width: 990px;
    }
    .pop_inner {
        overflow: hidden;
        background-color: #f4f4f4;
        margin: 15px;
        position: relative;
    }
    .pop_scroll {
        @include CustumScroll;
    }
    .pop_cont {
        background-color: #fff;
        padding: 30px;
        position: relative;
        box-sizing: border-box;
    }
    .layer-close {
        @include Position($top: 30px, $right: 30px);
        @include Background($sprite: 'ico-layer-close');
        @include Hide_txt;
        width: 20px;
        height: 20px;
    }
    .popup-top {
        height: 80px;
        background-color: #3c3e26;
        padding: 0 60px 0 30px;
        @include Flex-start-center;
        h4 {
            font-size: 24px;
            line-height: 1.3;
            color: #fff;
        }
    }
}
