@charset "utf-8";
@import './_common.scss';

/// reset PC
html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
em,
img,
sub,
sup,
address,
cite,
pre,
code,
del,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block;
}
ol,
ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
    overflow: visible;
    appearance: button;
    cursor: pointer;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
    padding: 0;
    border: 0;
}
input[data-type='number'] {
    ime-mode: disabled;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    height: auto;
}
input[type='search'] {
    appearance: textfield;
    box-sizing: content-box;
}
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
    appearance: none;
}
input::-ms-clear,
input::-ms-reveal {
    display: none;
}
select::-ms-expand {
    display: none;
}
[disabled] {
    cursor: default;
}

html {
    overflow-y: scroll;
    font-size: 100%;
}
body {
    font-family: 'ManropeR', 'NotoR', serif;
    letter-spacing: -0.5px;
    word-break: break-all;
    color: #2b2b2b;
    font-size: 15px;
}
input,
button,
select,
textarea {
    line-height: 1;
    margin: 0;
    padding: 0;
    border: 0;
    color: #2b2b2b;
    font-size: 16px;
    font-family: inherit;
    color: inherit;
    box-sizing: border-box;
    appearance: none;
    vertical-align: middle;
    border-radius: 0;
    background-color: transparent;
    outline: none;
}
caption,
legend {
    display: none;
}
em,
address,
i {
    font-style: normal;
}
img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}
a {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
strong,
b {
    font-weight: normal;
    color: #2b2b2b;
    font-size: 15px;
    line-height: 1;
    @include BreakWord;
}
p,
span {
    @include BreakWord;
}
label {
    cursor: pointer;
}

input::placeholder {
    color: #c1c1c1;
    line-height: normal;
}
textarea::placeholder {
    color: #c1c1c1;
}

//Noto
@font-face {
    font-family: 'NotoL';
    src: url('../fonts/Noto/notokr-light.woff') format('woff'), url('../fonts/Noto/notokr-light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoR';
    src: url('../fonts/Noto/notokr-regular.woff') format('woff'),
        url('../fonts/Noto/notokr-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoM';
    src: url('../fonts/Noto/notokr-medium.woff') format('woff'),
        url('../fonts/Noto/notokr-medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'NotoB';
    src: url('../fonts/Noto/notokr-bold.woff') format('woff'), url('../fonts/Noto/notokr-bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

//Manrope
@font-face {
    font-family: 'ManropeL';
    src: url('../fonts/Manrope/Manrope-Light.woff') format('woff'),
        url('../fonts/Manrope/Manrope-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ManropeR';
    src: url('../fonts/Manrope/Manrope-Regular.woff') format('woff'),
        url('../fonts/Manrope/Manrope-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ManropeB';
    src: url('../fonts/Manrope/Manrope-Bold.woff') format('woff'),
        url('../fonts/Manrope/Manrope-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.clear {
    content: '';
    display: block;
    clear: both;
}
.hidden {
    @include Hidden;
}
.inline-block {
    @include Inline-block-config;
}
.align-c {
    text-align: center !important;
}
.align-l {
    text-align: left !important;
}
.align-r {
    text-align: right !important;
}
.valign-b {
    vertical-align: bottom !important;
}
.valign-t {
    vertical-align: top !important;
}
.valign-m {
    vertical-align: middle !important;
}
.margin-a {
    margin-left: auto !important;
    margin-right: auto !important;
}

.txtBold {
    font-family: 'ManropeB', 'NotoB', serif !important;
    font-weight: normal !important;
}
.txtNormal {
    font-family: 'ManropeL', 'NotoL', serif !important;
    font-weight: normal !important;
}
.txtBlack {
    color: #2b2b2b !important;
}
.txtRed {
    color: #f04040 !important;
}
.txtBlue {
    color: #117ef9 !important;
}
.txtGreen {
    color: #20bbc4 !important;
}
.txtGray {
    color: #b4b8bf !important;
}
.txtGray2 {
    color: #999 !important;
}
.txtYellow {
    color: #fff456 !important;
}

.pcOnly {
    display: none;
}
.moOnly {
    display: block;
}

.hasmap-wrap {
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    a,
    button {
        position: absolute;
        display: block;
        font: 0/0 a;
        background-color: rgba(0, 0, 0, 0);
    }
}

//iScroll
.iScrollVerticalScrollbar.iScrollLoneScrollbar {
    right: 8px !important;
    width: 4px !important;
}
.iScrollVerticalScrollbar.iScrollLoneScrollbar .iScrollIndicator {
    background-color: #e1e1e1 !important;
    border: 0 !important;
}

@include ResetStyle($style: 'padding', $symbol: 'pd');
@include ResetStyle($style: 'margin', $symbol: 'mg');
@include ResetStyle($style: 'margin-top', $symbol: 'mt');
@include ResetStyle($style: 'margin-bottom', $symbol: 'mb');
@include ResetStyle($style: 'margin-left', $symbol: 'ml');
@include ResetStyle($style: 'margin-right', $symbol: 'mr');
@include ResetStyle($style: 'padding-top', $symbol: 'pt');
@include ResetStyle($style: 'padding-bottom', $symbol: 'pb');
@include ResetStyle($style: 'padding-left', $symbol: 'pl');
@include ResetStyle($style: 'padding-right', $symbol: 'pr');
