
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="utf-8">
	<title>Nature Republic</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />	

    <meta name="robots" content="index,follow">
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="기빙백포럼">
    <meta property="og:description" content="기빙백포럼">
    <meta property="og:image" content="http://www.gbforum.kr/images/common/logo.png">
    <meta property="og:url" content="http://www.gbforum.kr">
    <!--<meta name="naver-site-verification" content="441dc23a09829af3d3193f1ad7e0e29716e147cc" />-->
    <meta name="description" content="기빙백포럼">
    <link rel="canonical" href="">

    <!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap" rel="stylesheet">-->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/fileinput/css/fileinput.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../lib/fileinput/themes/explorer-fas/theme.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/notification/notification.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/ews/entypo.css" />
    <link rel="stylesheet" type="text/css" href="../../loadfile/files/cmm/admin.css">

    <script type="text/javascript" src="../../lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/jquery-ui/jquery-ui.min.js"></script>

    <!--include-->
    <script type="text/javascript" src="../include_header.js"></script>

    <script type="text/javascript" src="../../lib/jquery/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../lib/propper/js/propper.min.js"></script>
    <script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/plugins/piexif.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/plugins/sortable.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/themes/fas/theme.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/themes/explorer-fas/theme.js"></script>
    <script type="text/javascript" src="../../lib/jquery/jquery.mousescroll.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript" src="../../lib/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../../lib/ews/ews.js"></script>
    <script type="text/javascript" src="../../lib/ews/resizeable.js"></script>
    <script type="text/javascript" src="../../lib/greensock/TweenMax.min.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site_api.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site_custome.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site.js"></script>
    <!-- mov -->
    <script charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=2b0b6125101b04b09c8e26"></script>

    <!--custom-->
    <link rel="stylesheet" type="text/css" href="../../assets/styles/contents.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/modules.css"/>
    <script type="text/javascript" src="../../assets/scripts/bundle/vendors.chunk.js"></script>
    <script type="text/javascript" src="../../assets/scripts/bundle/main.chunk.js"></script>


</head>
<body class="page-body">
    <div class="page-container">

        <!--사이드바-->
        <div class="sidebar-menu">
        </div>
        <!--//사이드바-->

        <div class="main-content">

            <!--상단-->
            <div class="header-top"></div>
            <!--//상단-->
            <!--경로-->
            <div class="path-W"></div>
            <!--//경로-->

            <!--타이틀-->
            <div class="title-W">
                <h2>주문 상세 정보</h2>
            </div>
            <!--//타이틀-->

            <div class="section-W">
                <div class="box-W between">
                    <ul class="list-row">
                        <li>
                            <strong>주문번호</strong>
                            <div class="list-cont">
                                <span class="txtLine txtBlue">1605100612284924</span>
                                <i class="icoTxt light-green">첫</i>
                                <i class="icoTxt dark-orange">무</i>
                            </div>
                        </li>
                        <li>
                            <strong>주문일시</strong>
                            <div class="list-cont">
                                2021년 05월 24일 07:10분
                            </div>
                        </li>
                        <li>
                            <strong>주문유형</strong>
                            <div class="list-cont">
                                PC
                                <i class="icoTxt dark-green">C</i>
                            </div>
                        </li>
                    </ul>
                    <div class="bt-W">
                        <button type="button" class="bt small"><i class="ico print"></i>프린트</button>
                        <!--
                        <button type="button" class="bt small"><i class="ico print"></i>프린트</button>-->
                    </div>
                </div>
            </div>

            <div class="section-W">
                <ul class="tab-list">
                    <li>
                        <a href="">결제요약</a>
                    </li>
                    <li>
                        <a href="">주문자/수취인 정보</a>
                    </li>
                    <li>
                        <a href="">주문 상품 정보</a>
                    </li>
                    <li>
                        <a href="">클레임 주문 정보</a>
                    </li>
                    <li>
                        <a href="">주문 결제 정보</a>
                    </li>
                    <li class="active">
                        <a href="">주문 결제 수단</a>
                    </li>
                    <li>
                        <a href="">메모</a>
                    </li>
                </ul>

                <div class="title-W mt-50 mb-15">
                    <h3>결제요약</h3>
                </div>
                <div class="box-W">
                    <div class="list-box">
                        <ul class="list-type col3">
                            <li>
                                <div class="list-box-in">
                                    <strong>총 결제금액</strong>
                                    <span><b>123,456,789</b>원</span>
                                </div>
                                <div class="list-box-in">
                                    <strong>결제금액</strong>
                                    <span><b>123,456</b>원</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-box-in">
                                    <strong>총 취소금액</strong>
                                    <span><b>789</b>원</span>
                                </div>
                            </li>
                            <li>
                                <div class="list-box-in">
                                    <strong>총 환불금액</strong>
                                    <span><b>0</b>원</span>
                                </div>
                                <div class="list-box-in">
                                    <strong>환불 예정금액</strong>
                                    <span><b>456</b>원</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>

                <div class="title-W between mt-50 mb-15">
                    <h3>주문자 정보</h3>
                    <div class="bt-W">
                        <button type="button" class="bt small"><i class="ico modify"></i>정보수정</button>
                    </div>
                </div>
                <div class="box-W">
                    <div class="table-W type-row">
                        <table>
                            <colgroup>
                                <col style="width:12%">
                                <col style="width:38%">
                                <col style="width:12%">
                                <col style="width:38%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>주문자 접속 IP</th>
                                    <td>
                                        <span class="txtLine txtBlue">192.168.0.123</span>
                                    </td>
                                    <th>전화번호</th>
                                    <td>02-1234-5678</td>
                                </tr>
                                <tr>
                                    <th>주문자명</th>
                                    <td>
                                        홍길동(USER ID)
                                        <i class="icoLine dark-orange ml-5">VVIP</i>
                                        <button type="button" class="bt small black ml-10">CRM</button>
                                    </td>
                                    <th>휴대폰번호</th>
                                    <td>
                                        010-1234-5678
                                        <button type="button" class="bt small black ml-10">SMS발송</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>
                                        서울 강남구 테헤란로 534 (대치동, 글라스타워빌딩) 24층
                                    </td>
                                    <th>이메일주소</th>
                                    <td>
                                        Nature 1111@admin.com
                                        <button type="button" class="bt small black ml-10">메일발송</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="title-W between mt-50 mb-15">
                    <h3>수취인 정보</h3>
                    <div class="bt-W">
                        <button type="button" class="bt small"><i class="ico modify"></i>정보수정</button>
                        <button type="button" class="bt small"><i class="ico print"></i>프린트</button>
                    </div>
                </div>
                <div class="box-W">
                    <div class="table-W type-row">
                        <table>
                            <colgroup>
                                <col style="width:12%">
                                <col style="width:38%">
                                <col style="width:12%">
                                <col style="width:38%">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>수취인명</th>
                                    <td>
                                        홍길동(USER ID)
                                    </td>
                                    <th>전화번호</th>
                                    <td>02-1234-5678</td>
                                </tr>
                                <tr>
                                    <th>주소</th>
                                    <td>
                                        서울 강남구 테헤란로 534 (대치동, 글라스타워빌딩) 24층
                                    </td>
                                    <th>휴대폰번호</th>
                                    <td>
                                        010-1234-5678
                                        <button type="button" class="bt small black ml-10">SMS발송</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>배송요청사항</th>
                                    <td colspan="3">
                                        빠른 배송 바랍니다. 그리고 문 앞에 놓고 문자 주세요.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                
            </div>


            <!--후터-->
            <div class="footer"></div>
            <!--//후터-->

            <!--레이어 본체-->
            <div class="layer_crm">
                <header>
                    <div class="logo">CRM</div>
                    <div class="level"> <i class="ico level-vip"></i> VIP</div>
                    <div class="user-info">
                        <div class="name">홍길동(userID)</div>
                        <div class="phone-number">010-5555-5555</div>
                    </div>
                    <button type="button" class="bt normal green mr10">회원정보수정</button>
                    <button type="button" class="bt normal green">로그/메모</button>
                    <button type="button" class="bt normal red secession">회원탈퇴</button>
                </header>
                <div class="crm-container">
                    <div class="lnb-wrap">
                        <div class="lnb-list">
                            <ul>
                                <li><a href="" class="link"><span class="title">회원정보</span></a></li>
                            </ul>
                            <ul>
                                <li><a href="" class="link"><span class="title">활동정보</span></a></li>
                                <li><a href="" class="link"><span class="title">증빙서류정보</span></a></li>
                                <li><a href="" class="link"><span class="title">환불통장정보</span></a></li>
                                <li><a href="" class="link"><span class="title">장바구니</span></a></li>
                                <li><a href="" class="link"><span class="title">위시리스트</span></a></li>
                            </ul>
                            <ul>
                                <li><a href="" class=""><span class="title">주문내역</span><span class="value green">1</span></a></li>
                                <li><a href="" class=""><span class="title">취소/반품/교환</span><span class="value green">99</span></a></li>
                            </ul>
                            <ul>
                                <li><a href="" class=""><span class="title">포인트</span><span class="value green">12,312,313</span></a></li>
                                <li><a href="" class=""><span class="title">쿠폰</span><span class="value green">99</span></a></li>
                            </ul>
                            <ul>
                                <li><a href="" class=""><span class="title">상품후기</span><span class="value">21</span></a></li>
                                <li><a href="" class=""><span class="title">상품문의</span><span class="value blue">10</span> <span class="value red">8</span></a></li>
                                <li><a href="" class=""><span class="title">1:1문의</span><span class="value blue">10</span> <span class="value red">8</span></a></li>
                                <li><a href="" class=""><span class="title">상담관리</span><span class="value blue">10</span> <span class="value red">8</span></a></li>
                            </ul>
                        </div>
                        <button type="button" class="bt normal regist-consulting">상담등록</button>
                        <div class="black-list">
                            <div class="title"><a href="">블랙리스트 관리 <i class="ico plus"></i> </a></div>
                            <ul>
                                <li>
                                    <div class="toggle">
                                        <a href="">
                                            <div class="status">
                                                <span class="ico angry"></span> x 3
                                            </div>
                                            <div class="id">Admin(2021-08-31)</div>
                                            <i class="ico accordion-arrow"></i>
                                        </a>
                                    </div>
                                    <div class="content">
                                        고의적으로 사용한 상품을 반품 시도를 반복하고 수용하지 않자 통화로 욕설을 함
                                        <a href="" class="delete-memo"><i class="ico delete-white"></i></a>
                                    </div>
                                </li>
                                <li>
                                    <div class="toggle">
                                        <a href="">
                                            <div class="status">
                                                <span class="ico angry"></span> x 3
                                            </div>
                                            <div class="id">Admin(2021-08-31)</div>
                                            <i class="ico accordion-arrow"></i>
                                        </a>
                                    </div>
                                    <div class="content">
                                        고의적으로 사용한 상품을 반품 시도를 반복하고 수용하지 않자 통화로 욕설을 함
                                        <a href="" class="delete-memo"><i class="ico delete-white"></i></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="crm-content">
                        <div class="title-W">
                            <h2>포인트</h2>
                        </div>
                        <div class="section-W">

                            <ul class="tab-list">
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                                <li class="active">
                                    <a href="">탭타이틀</a>
                                </li>
                                <li>
                                    <a href="">탭타이틀</a>
                                </li>
                            </ul>

                            
                            <div class="title-W between mt-50 mb-15">
                                <h3>
                                    회원정보
                                </h3>
                                <div class="notice-important ml-15">
                                    <span class="emphas">*</span>
                                    필수입력항목입니다.
                                </div>
                            </div>
                            <div class="table-W type-row between mb-15 mt-20">
                                <table>
                                    <colgroup>
                                        <col style="width:200px">
                                        <col style="width: auto;">
                                        <col style="width:200px">
                                        <col style="width: auto;">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>등록일</th>
                                            <td>
                                                2021-08-30  17:54:03
                                            </td>
                                            <th>최근방문일</th>
                                            <td>
                                                2021-08-30  17:54:03
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>이름 <span class="emphas">*</span></th>
                                            <td>
                                                <div class="input-T" style="width: 350px;">
                                                    <div class="input-in">
                                                        <input type="text" id="" placeholder="이름">
                                                    </div>
                                                    <div class="guide-wrap">
                                                        <div class="error">
                                                            잘못된 입력 값입니다.
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                            <th>아이디</th>
                                            <td>
                                                <div class="input-T" style="width: 350px;">
                                                    Nature123
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>비밀번호</th>
                                            <td>
                                                <div class="input-T" style="width: 350px;">
                                                    <div class="input-in">
                                                        <input type="password" id="" placeholder="">
                                                    </div>
                                                </div>
                                                <div class="input-C">
                                                    <input id="check_04" type="checkbox">
                                                    <label for="check_04">체크</label>
                                                </div>
                                            </td>
                                            <th>비밀번호 확인</th>
                                            <td>
                                                <div class="input-T" style="width: 350px;">
                                                    <div class="input-in">
                                                        <input type="password" id="" placeholder="">
                                                    </div>
                                                    <div class="guide-wrap">
                                                        <div class="error">
                                                            잘못된 입력 값입니다.
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>사용자그룹</th>
                                            <td>
                                                <select id="" style="width:350px;">
                                                    <option value="">사용자그룹 옵션</option>
                                                    <option value="">사용자그룹 옵션</option>
                                                    <option value="">사용자그룹 옵션</option>
                                                    <option value="">사용자그룹 옵션</option>
                                                </select>
                                            </td>
                                            <th>회원그룹</th>
                                            <td>
                                                <select id="" style="width:350px;">
                                                    <option value="">회원그룹 옵션</option>
                                                    <option value="">회원그룹 옵션</option>
                                                </select>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>회원레벨선택</th>
                                            <td colspan="3">
                                                <select id="selImproveCode2" style="width:250px;">
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                    <option value=""></option>
                                                </select>
                                                <div class="input-T" style="width: 450px;">
                                                    <div class="input-in">
                                                        <input type="text" id="txtStep1DateOff1" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>성별</th>
                                            <td>
                                                <div class="input-R">
                                                    <input type="radio" id="radio00_01" name="radio00" value="">
                                                    <label for="radio00_01">남성</label>
                                                </div>
                                                <div class="input-R">
                                                    <input type="radio" id="radio00_02" name="radio00" value="">
                                                    <label for="radio00_02">여성</label>
                                                </div>
                                                <div class="input-R">
                                                    <input type="radio" id="radio00_03" name="radio00" value="">
                                                    <label for="radio00_03">기타</label>
                                                </div>
                                            </td>
                                            <th>오프라인 카드정보</th>
                                            <td>
                                                <div class="input-T" style="width: 350px;">
                                                    <div class="input-in">
                                                        <input type="text" id="" placeholder="">
                                                    </div>
                                                </div>
                                                <button type="button" class="bt small"><i class="ico plus"></i>추가</button>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>생년월일</th>
                                            <td>
                                                <div class="ui-datePicker" style="width:200px;">
                                                    <input type="text" class="datepicker hasDatepicker" placeholder="yyyy-mm-dd" id="">
                                                </div>
                                                <div class="input-R ml-20">
                                                    <input type="radio" id="radio00_04" name="radio01" value="">
                                                    <label for="radio00_04">양력</label>
                                                </div>
                                                <div class="input-R">
                                                    <input type="radio" id="radio00_05" name="radio01" value="">
                                                    <label for="radio00_05">음력</label>
                                                </div>
                                            </td>
                                            <th>첨부파일</th>
                                            <td>
                                                <div class="file-upload">
                                                    <ul>
                                                        <li>
                                                            <div class="item-file">
                                                                <div class="item-text" style="width: 350px;">
                                                                    <div class="text-value"></div>
                                                                    <button type="button" class="bt remove-value">닫기</button>
                                                                </div>
                                                                <input type="file" id="file09">
                                                                <label class="bt type05 ml-10" for="file09">파일선택</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th>휴대폰 번호</th>
                                            <td>
                                                <div class="input-T" style="width: 100px;">
                                                    <div class="input-in">
                                                        <input type="text" id="" placeholder="">
                                                    </div>
                                                </div>
                                                -
                                                <div class="input-T" style="width: 100px;">
                                                    <div class="input-in">
                                                        <input type="text" id="" placeholder="">
                                                    </div>
                                                </div>
                                                -
                                                <div class="input-T" style="width: 100px;">
                                                    <div class="input-in">
                                                        <input type="text" id="" placeholder="">
                                                    </div>
                                                </div>
                                            </td>
                                            <th>관리자 메모</th>
                                            <td>
                                                <button type="button" class="bt small black">보기</button>
                                            </td>
                                        </tr>
                                        
                                        <tr>
                                            <th>기간</th>
                                            <td colspan="3">
                                                <div class="datePicker-W">
                                                    <div class="ui-datePicker" style="width:200px;">
                                                        <input type="text" class="datepicker hasDatepicker" placeholder="yyyy-mm-dd" id="dp1630895965565">
                                                    </div>
                                                    <div class="ui-timePicker ml-5" style="width:200px;">
                                                        <input type="text" name="time01">
                                                    </div>
                                                    <span>~</span>
                                                    <div class="ui-datePicker" style="width:200px;">
                                                        <input type="text" class="datepicker hasDatepicker" placeholder="yyyy-mm-dd" id="dp1630895965566">
                                                    </div>
                                                    <div class="ui-timePicker ml-5" style="width:200px;">
                                                        <input type="text" name="time01">
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <hr class="mt-20">
                            <div class="bt-W mt-30">
                                <button type="button" class="bt normal black">취소</button>
                                <button type="button" class="bt normal green">확인</button>
                            </div>
                        </div>
                        <p class="copyright">
                            <span class="fc-primary">© NATURE REPUBLIC</span>Corp All Rights Reserved
                        </p>
                    </div>
                </div>
            </div>
            <!--//레이어 본체-->

            

            <!--레이어 본체-->
            <div class="pop_layer layer-001">
                <div class="pop_inner">
                    <button type="button" class="layer-close" data-layer="layer-001">닫기 버튼</button>
                    <div class="popup-top">
                        <h4>01. 기본 정보 / 회원 등급별할인 / 과세</h4>
                    </div>
                    <div class="pop_scroll">
        
                        <div class="pop_cont">
                            
                            <div class="table-W type-search">
                                <table>
                                    <colgroup>
                                        <col style="width:100px">
                                        <col style="width:auto">
                                    </colgroup>
                                    <tbody>
                                        <tr>
                                            <th>정책선택</th>
                                            <td>
                                                <select id="" style="width: 100%;">
                                                    <option value="">주문번호</option>
                                                    <option value="">주문번호1</option>
                                                    <option value="">주문번호2</option>
                                                </select>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="bt-W mt-30">
                                <button type="button" class="bt normal">취소</button>
                                <button type="button" class="bt normal green">적용</button>
                            </div>
        
                        </div>
                        
                    </div>
                </div>
            </div>
            <!--//레이어 본체-->

            <!--레이어 배경-->
            <div class="layer_dimmed">레이어 배경</div>
            <!--//레이어 배경-->
            <!--레이어 배경-->
            <div class="layer_dimmed_crm">레이어 배경</div>
            <!--//레이어 배경-->

            <script>
                var LAYER_DIM = '.layer_dimmed';
                var LAYER_DIM_CRM = '.layer_dimmed_crm';
                var LAYER_PARENT = '.pop_layer';

                CommonUI.Layer.open('.layer_crm', LAYER_DIM, LAYER_PARENT, function(layer){
                        //console.log('open');

                        // 레이어 재 계산
                        setTimeout(function(){
                            $(layer).css({opacity: 1});
                            CommonUI.Layer.calculate('.layer-003');
                        }, 0);
                    }, '100%');

                //블랙리스트 토글
                $('.black-list .toggle a').click(function(e){
                    e.preventDefault();
                    $(this).parent().siblings('.content').slideToggle();
                    $(this).children('.accordion-arrow').toggleClass('on')
                })

                //layer-001레이어 이벤트 -- 60px    
                $(document).on('click', '#layer-001-open', function () {
                    CommonUI.Layer.open('.layer-001', LAYER_DIM_CRM, LAYER_PARENT, function(layer) {
                        //console.log('open');
                        

                        // 레이어 재 계산
                        setTimeout(function(){
                            $(layer).css({opacity: 1});
                            CommonUI.Layer.calculate('.layer-001');
                        }, 0);
                    }, '360px');
                });
                $(document).on('click', '.layer-001 .layer-close', function () {
                    CommonUI.Layer.close('.layer-001', LAYER_DIM_CRM, LAYER_PARENT, function(){
                        //console.log('close');
                    });
                });
                
            </script>
            


        </div>

        

    </div>

</body>
</html>
