
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8">
    <title>Nature Republic</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />	

    <meta name="robots" content="index,follow">
    <meta property="og:type" content="website"> 
    <meta property="og:title" content="기빙백포럼">
    <meta property="og:description" content="기빙백포럼">
    <meta property="og:image" content="http://www.gbforum.kr/images/common/logo.png">
    <meta property="og:url" content="http://www.gbforum.kr">
    <!--<meta name="naver-site-verification" content="441dc23a09829af3d3193f1ad7e0e29716e147cc" />-->
    <meta name="description" content="기빙백포럼">
    <link rel="canonical" href="">

    <!--<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;500;900&display=swap" rel="stylesheet">-->
    <!--[if lt IE 10]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/jquery-ui/jquery-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/fileinput/css/fileinput.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="../../lib/fileinput/themes/explorer-fas/theme.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/alertify.min.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/css/themes/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="../../lib/notification/notification.css" />
    <link rel="stylesheet" type="text/css" href="../../lib/ews/entypo.css" />
    <link rel="stylesheet" type="text/css" href="../../loadfile/files/cmm/admin.css">

    <script type="text/javascript" src="../../lib/jquery/js/jquery.min.js"></script>
    <script type="text/javascript" src="../../lib/jquery-ui/jquery-ui.min.js"></script>

    <!--include-->
    <script type="text/javascript" src="../include_header.js"></script>

    <script type="text/javascript" src="../../lib/jquery/js/jquery.validate.min.js"></script>
    <script type="text/javascript" src="../../lib/propper/js/propper.min.js"></script>
    <script type="text/javascript" src="../../lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/plugins/piexif.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/plugins/sortable.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/js/fileinput.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/themes/fas/theme.js"></script>
    <script type="text/javascript" src="../../lib/fileinput/themes/explorer-fas/theme.js"></script>
    <script type="text/javascript" src="../../lib/jquery/jquery.mousescroll.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/alertifyjs@1.13.1/build/alertify.min.js"></script>
    <script type="text/javascript" src="../../lib/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script type="text/javascript" src="../../lib/ews/ews.js"></script>
    <script type="text/javascript" src="../../lib/ews/resizeable.js"></script>
    <script type="text/javascript" src="../../lib/greensock/TweenMax.min.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site_api.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site_custome.js"></script>
    <script type="text/javascript" src="../../loadfile/files/cmm/site.js"></script>
    <!-- mov -->
    <script charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key=2b0b6125101b04b09c8e26"></script>

    <!--custom-->
    <link rel="stylesheet" type="text/css" href="../../assets/styles/contents.css"/>
    <link rel="stylesheet" type="text/css" href="../../assets/styles/modules.css"/>
    <script type="text/javascript" src="../../assets/scripts/bundle/vendors.chunk.js"></script>
    <script type="text/javascript" src="../../assets/scripts/bundle/main.chunk.js"></script>


</head>
<body class="page-body">
    <div class="page-container">

        <!--사이드바-->
        <div class="sidebar-menu">
        </div>
        <!--//사이드바-->

        <div class="main-content">

            <!--상단-->
            <div class="header-top"></div>
            <!--//상단-->
            <!--경로-->
            <div class="path-W"></div>
            <!--//경로-->

            <!--타이틀-->
            <div class="title-W">
                <h2>상품등록</h2>
            </div>
            <!--//타이틀-->

            <div class="section-W">

                <div class="title-W between mb-15">
                    <h3>
                        카테고리연결
                        <div class="sub-tit ml-15">
                            <span>신규 카테고리 생성은 <span class="txtBlue">판매 상품 > 카테고리 관리</span> 에서 가능 합니다.</span>
                            <button type="button" class="bt txtRed txtLine ml-10">카테고리 등록하기 &gt;</button>
                        </div>
                    </h3>
                    <div class="bt-W">
                        <button type="button" class="bt toggle txt on" data-target="toggle-area2" data-on="true"></button>
                    </div>
                </div>
                <div class="box-W box-toggle toggle-area2 on">
                    <div class="table-W type-row">
                        <table>
                            <colgroup>
                                <col style="width:200px">
                                <col style="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>카테고리 선택</th>
                                    <td>
                                        <div class="catagory-box">
                                            <div class="catagory-box-item">
                                                <h5>1차카테고리</h5>
                                                <div class="catagory-box-list">
                                                    <ul>
                                                        <li>
                                                            <a href="#">스킨케어</a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="#">클렌징</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">팩</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="catagory-box-item">
                                                <h5>2차카테고리</h5>
                                                <div class="catagory-box-list">
                                                    <ul>
                                                        <li>
                                                            <a href="#">스킨케어</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">클렌징</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">팩</a>
                                                        </li>
                                                        <li class="active">
                                                            <a href="#">스킨케어스킨케어스킨케어스킨케어스킨케어스킨케어</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">스킨케어</a>
                                                        </li>
                                                        <li>
                                                            <a href="#">스킨케어</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="catagory-box-item">
                                                <h5>3차카테고리</h5>
                                                <div class="catagory-box-list">
                                                    <ul>
                                                        <li>
                                                            <span>선택안함</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="catagory-box-item">
                                                <h5>4차카테고리</h5>
                                                <div class="catagory-box-list">
                                                    <ul>
                                                        <li>
                                                            <span>선택안함</span>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="bt-W mt-30 mb-20">
                                            <button type="button" class="bt normal">최근 연결 카테고리</button>
                                            <button type="button" class="bt normal green">선택추가</button>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>선택된 카테고리</th>
                                    <td>
                                        <h5 class="mb-10">대표선택 카테고리</h5>
                                        <ul class="list-type col1">
                                            <li>
                                                <div class="list-in">
                                                    <div class="input-R">
                                                        <input type="radio" id="radio01_01" name="radio01" value="">
                                                        <label for="radio01_01">스킨케어 > 로션</label>
                                                    </div>
                                                    <button type="button" class="ml-5"><i class="ico delete"></i></button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list-in">
                                                    <div class="input-R">
                                                        <input type="radio" id="radio01_02" name="radio01" value="">
                                                        <label for="radio01_02">스킨케어 > 로션 > 3Depth</label>
                                                    </div>
                                                    <button type="button" class="ml-5"><i class="ico delete"></i></button>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="list-in">
                                                    <div class="input-R">
                                                        <input type="radio" id="radio01_03" name="radio01" value="">
                                                        <label for="radio01_03">스킨케어 > 로션 > 3Depth > 4Depth</label>
                                                    </div>
                                                    <button type="button" class="ml-5"><i class="ico delete"></i></button>
                                                </div>
                                            </li>
                                        </ul>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>



                </div>


                <div class="title-W between mt-50 mb-15">
                    <h3>
                        브랜드
                    </h3>
                    <div class="bt-W">
                        <button type="button" class="bt toggle txt" data-target="toggle-area3" data-on="true"></button>
                    </div>
                </div>
                <div class="box-W box-toggle toggle-area3" style="display: none;">
                    <div class="table-W type-normal th-color-gray">
                        <table>
                            <colgroup>
                                <col style="width:13%">
                                <col style="width:70%">
                                <col style="width:17%">
                            </colgroup>
                            <thead>
                                <tr>
                                    <th>대표브랜드</th>
                                    <th>브랜드</th>
                                    <th>삭제</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <div class="input-R noTxt">
                                            <input type="radio" id="radio00_01" name="radio00" value="">
                                            <label for="radio00_01"></label>
                                        </div>
                                    </td>
                                    <td class="align-l pl-30">스킨케어 > 로션</td>
                                    <td>
                                        <button type="button" class="bt small"><i class="ico minus"></i>삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-R noTxt">
                                            <input type="radio" id="radio00_02" name="radio00" value="">
                                            <label for="radio00_02"></label>
                                        </div>
                                    </td>
                                    <td class="align-l pl-30">스킨케어 > 로션 > 3Depth</td>
                                    <td>
                                        <button type="button" class="bt small"><i class="ico minus"></i>삭제</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <div class="input-R noTxt">
                                            <input type="radio" id="radio00_03" name="radio00" value="">
                                            <label for="radio00_03"></label>
                                        </div>
                                    </td>
                                    <td class="align-l pl-30">스킨케어 > 로션</td>
                                    <td>
                                        <button type="button" class="bt small"><i class="ico minus"></i>삭제</button>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                    <div class="bt-W mt-30 mb-20">
                        <button type="button" class="bt normal">최근 연결 브랜드</button>
                        <button type="button" class="bt normal green">브랜드연결</button>
                    </div>
                </div>

                <div class="title-W between mt-50 mb-15">
                    <h3>
                        판매정보
                        <div class="sub-tit ml-15">
                            <span>통합 설정은 <span class="txtBlue">설정 > 주문</span> 에서 변경할 수 있습니다.</span>
                            <button type="button" class="bt txtRed txtLine ml-10">주문하기 &gt;</button>
                        </div>
                    </h3>
                </div>
                <div class="box-W">
                    <div class="table-W type-row">
                        <table>
                            <colgroup>
                                <col style="width:200px">
                                <col style="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>상품구성</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio02_01" name="radio02" value="">
                                            <label for="radio02_01">단일</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio02_02" name="radio02" value="">
                                            <label for="radio02_02">세트</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>판매상태</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio03_01" name="radio03" value="">
                                            <label for="radio03_01">전시</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio03_02" name="radio03" value="">
                                            <label for="radio03_02">비전시</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio03_03" name="radio03" value="">
                                            <label for="radio03_03">전시예약</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>상품구성</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio04_01" name="radio04" value="">
                                            <label for="radio04_01">정상</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio04_02" name="radio04" value="">
                                            <label for="radio04_02">품절</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio04_03" name="radio04" value="">
                                            <label for="radio04_03">판매중지</label>
                                        </div>
                                        <div class="input-C">
                                            <input id="check_01" type="checkbox">
                                            <label for="check_01">품절시 재입고 알림사용</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>전시상태</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio05_01" name="radio05" value="">
                                            <label for="radio05_01">통합설정 사용</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio05_02" name="radio05" value="">
                                            <label for="radio05_02">개별설정 사용</label>
                                        </div>
                                        <button type="button" class="bt small">설정</button>
                                        <span class="txtGray">(재고무관 판매)</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="title-W between mt-50 mb-15">
                    <h3>
                        판매정보
                        <div class="sub-tit ml-15">
                            <span>통합 설정은 <span class="txtBlue">설정 > 주문</span> 에서 변경할 수 있습니다.</span>
                            <button type="button" class="bt txtRed txtLine ml-10">주문하기 &gt;</button>
                        </div>
                    </h3>
                </div>
                <div class="box-W">
                    <div class="table-W type-row">
                        <table>
                            <colgroup>
                                <col style="width:200px">
                                <col style="">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <th>옵션갯수</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio06_01" name="radio06" value="">
                                            <label for="radio06_01">단일</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio06_02" name="radio06" value="">
                                            <label for="radio06_02">세트</label>
                                        </div>
                                        <button type="button" class="bt small black">적용</button>
                                    </td>
                                </tr>
                                <tr>
                                    <th>전시상태</th>
                                    <td>
                                        <div class="input-R">
                                            <input type="radio" id="radio07_01" name="radio07" value="">
                                            <label for="radio07_01">전시</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio07_02" name="radio07" value="">
                                            <label for="radio07_02">비전시</label>
                                        </div>
                                        <div class="input-R">
                                            <input type="radio" id="radio07_03" name="radio07" value="">
                                            <label for="radio07_03">전시예약</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <th>전시예약</th>
                                    <td>
                                        <div class="table-W type-row">
                                            <table>
                                                <colgroup>
                                                    <col style="width:200px">
                                                    <col style="">
                                                </colgroup>
                                                <tbody>
                                                    <tr>
                                                        <th>자동 전시 기간</th>
                                                        <td>
                                                            <div class="datePicker-W">
                                                                <div class="ui-datePicker" style="width:200px;">
                                                                    <input type="text" class="datepicker" placeholder="yyyy-mm-dd" />
                                                                </div>
                                                                <span>~</span>
                                                                <div class="ui-datePicker" style="width:200px;">
                                                                    <input type="text" class="datepicker" placeholder="yyyy-mm-dd" />
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>기간 외 전시 설정</th>
                                                        <td>
                                                            <div class="input-C">
                                                                <input id="check_02" type="checkbox">
                                                                <label for="check_02">기간 이전 전시</label>
                                                            </div>
                                                            <div class="input-C">
                                                                <input id="check_03" type="checkbox">
                                                                <label for="check_03">기간 이후 전시 유지</label>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>상품명 머리말</th>
                                                        <td>
                                                            <div class="input-T" style="width: 395px;">
                                                                <div class="input-in">
                                                                    <input type="text" id="" placeholder="상품명 머리말을 입력하세요">
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <th>예약상품</th>
                                                        <td>
                                                            <div>
                                                                <div class="input-C">
                                                                    <input id="check_04" type="checkbox">
                                                                    <label for="check_04">예약 발송 상품</label>
                                                                </div>
                                                            </div>
                                                            <div class="mt-5">
                                                                <span>예약 발송일</span>
                                                                <div class="ui-datePicker ml-20" style="width:200px;">
                                                                    <input type="text" class="datepicker" placeholder="yyyy-mm-dd" />
                                                                </div>
                                                                <span class="txtGray ml-5">※ 예약 상품은 배송 그룹을 별도 생성 후 연결하는 것을 권장 드립니다.</span>
                                                            </div>
                                                            <div class="mt-5">
                                                                <span>발송안내 문구</span>
                                                                <span class="txtGray ml-20">설정 예약 발송일</span>
                                                                <div class="input-T ml-5" style="width: 235px;">
                                                                    <div class="input-in">
                                                                        <input type="text" id="" placeholder="설정 예약 발송일 입력"/>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>



            </div>




        
            <!--후터-->
            <div class="footer"></div>
            <!--//후터-->

        </div>

    </div>
</body>
</html>
