.page-container {
    .sidebar-menu {
        background-color: #3c3e26;
        .sidebar-menu-inner {
            .logo-env {
                background-color: #89b03f;
                padding: 0 0 0 20px;
                height: 98px;
                @include Flex-start-center;
                .logo {
                    margin-left: 5px;
                    a {
                        color: #fff;
                        letter-spacing: 0;
                    }
                }
                .sidebar-collapse {
                    float: left;
                    a {
                        border: none;
                        .entypo-menu {
                            &:before {
                                color: #fff;
                            }
                        }
                    }
                }
            }
        }
        #main-menu {
            li.root-level {
                border-bottom: none;
                > a {
                    color: #fff;
                    font-size: 17px;
                    padding: 0px 20px;
                    height: 60px;
                    @include Flex-start-center;
                    position: relative;
                    &:before {
                        @include Position($top: 20px, $right: 20px);
                        transform: rotate(90deg);
                        font-size: 20px;
                    }
                }
                ul {
                    background-color: #717554;
                    border: 0;
                    padding: 20px 0;
                    > li {
                        border: 0;
                        a {
                            @include Flex-start-center;
                            background-color: #717554;
                            color: #fff;
                            height: 35px;
                            padding: 0px 0 0 50px;
                            span {
                                font-size: 15px;
                                em {
                                    margin-left: 5px;
                                    color: #aac33e;
                                }
                            }
                        }
                    }
                }
                &.opened {
                    > a {
                        color: #aac33e;
                        &:before {
                            transform: rotate(270deg);
                            color: #aac33e;
                        }
                    }
                }
            }
        }
    }

    &.sidebar-collapsed {
        .sidebar-menu {
            .sidebar-menu-inner {
                .logo-env {
                    padding: 0;
                    @include Flex-center-center;
                    .sidebar-collapse {
                    }
                }
            }
            #main-menu {
                li.root-level {
                    > a {
                        padding: 0;
                        @include Flex-center-center;
                        i {
                            cursor: pointer;
                            margin-right: 0;
                        }
                        > span:not(.badge) {
                            background-color: #3c3e26;
                            height: 60px;
                            margin-top: 0;
                            padding: 0px 20px;
                            @include Flex-start-center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}
