.page-container {
    .main-content {
        position: relative;
        padding: 136px 80px 80px;
        box-sizing: border-box;
    }
    .sidebar-menu {
        background-color: #3c3e26;
        .sidebar-menu-inner {
            .logo-env {
                background-color: #89b03f;
                padding: 0 0 0 20px;
                height: 98px;
                @include Flex-start-center;
                .logo {
                    margin-left: 10px;
                    a {
                        color: #fff;
                        letter-spacing: 0;
                        font-size: 20px;
                    }
                }
                .sidebar-collapse {
                    float: left;
                    a {
                        border: none;
                        font-size: 20px;
                        padding: 0;
                        @include Flex-start-center;
                        &:hover {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
        #main-menu {
            li.root-level {
                border-bottom: none;
                > a {
                    color: #fff;
                    font-size: 17px;
                    padding: 0px 20px;
                    height: 60px;
                    @include Flex-start-center;
                    position: relative;
                }
                &.has-sub {
                    > a {
                        &:before {
                            @include Background($sprite: 'ico-lnb-down');
                            @include Position($top: 27px, $right: 20px);
                            content: '';
                            //transform: rotate(90deg);
                            font-size: 20px;
                            width: 13px;
                            height: 8px;
                        }
                    }
                    &.opened {
                        > a {
                            &:before {
                                @include Background($sprite: 'ico-lnb-down-on');
                                transform: rotate(180deg);
                                color: #aac33e;
                            }
                        }
                    }
                }
                ul {
                    background-color: #717554;
                    border: 0;
                    padding: 20px 0;
                    > li {
                        border: 0;
                        a {
                            @include Flex-start-center;
                            background-color: #717554;
                            color: #fff;
                            height: 35px;
                            padding: 0px 0 0 50px;
                            span {
                                font-size: 15px;
                                em {
                                    margin-left: 5px;
                                    color: #aac33e;
                                }
                            }
                        }
                    }
                }
                &.opened {
                    > a {
                        color: #aac33e;
                    }
                }
            }
        }
    }

    &.sidebar-collapsed {
        .sidebar-menu {
            .sidebar-menu-inner {
                .logo-env {
                    padding: 0;
                    @include Flex-center-center;
                    .sidebar-collapse {
                    }
                }
            }
            #main-menu {
                li.root-level {
                    > a {
                        padding: 0;
                        @include Flex-center-center;
                        i {
                            cursor: pointer;
                            margin-right: 0;
                        }
                        > span:not(.badge) {
                            background-color: #3c3e26;
                            height: 60px;
                            margin-top: 0;
                            padding: 0px 20px;
                            @include Flex-start-center;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }

    .header-top {
        @include Position($top: 0, $left: 0);
        width: 100%;
        @include Flex-between-center;
        height: 98px;
        background-color: #fff;
        padding: 0 80px;
        .left-side {
            > ul {
                @include Flex-start-center;
                > li {
                    @include Flex-start-center;
                    a {
                        font-size: 18px;
                        color: #333;
                        line-height: 34px;
                    }
                    + li {
                        margin-left: 40px;
                    }
                }
            }
        }
        .right-side {
            @include Flex-start-center;
            > ul {
                @include Flex-start-center;
                > li {
                    @include Flex-start-center;
                    > a {
                        font-size: 16px;
                        color: #333;
                        line-height: 34px;
                    }
                    + li {
                        margin-left: 25px;
                    }
                }
            }
            .input_S {
                margin-right: 50px;
                width: 350px;
            }
        }
        .dropdown-toggle {
            @include Flex-start-center;
            &:after {
                @include Background($sprite: 'ico-down');
                width: 10px;
                height: 6px;
                border: 0;
                margin-left: 10px;
            }
        }
    }
}
