.page-container {
    min-width: 1024px;
    .main-content {
        background-color: #e9eaed;
    }
}

.path-W {
    @include Flex-end-center;
    > ul {
        @include Flex-start-center;
        > li {
            @include Flex-start-center;
            color: #818286;
            font-size: 14px;
            line-height: 20px;
            > a {
                color: #818286;
                font-size: 14px;
            }
            + li {
                &:before {
                    display: block;
                    content: '>';
                    color: #818286;
                    margin: 0 3px;
                }
            }
        }
    }
}

.title-W {
    h2 {
        @include Bold;
        font-size: 32px;
        line-height: 1.4;
    }
    h3 {
        @include Bold;
        font-size: 25px;
        line-height: 1.4;
    }
    h4 {
        @include Bold;
        font-size: 20px;
        line-height: 1.4;
    }
}

.section-W {
    padding: 40px;
    background-color: #fff;
    margin-top: 20px;
}

.hasmap-wrap {
    display: block;
    position: relative;
    img {
        width: 100%;
    }
    a {
        position: absolute;
        display: block;
        font: 0/0 a;
        background-color: rgba(0, 0, 0, 0);
    }
}
