.list-type {
    width: 100%;
    @include Flex-start-start($wrap: wrap);
    .list-in {
        .input-C,
        .input-R {
            margin-right: 0;
        }
    }
    &.col1 {
        > li {
            width: 100%;
        }
    }
    &.col2 {
        > li {
            width: 50%;
        }
    }
    &.col3 {
        > li {
            width: 33.333%;
        }
    }
    &.col4 {
        > li {
            width: 25%;
        }
    }
    &.col5 {
        > li {
            width: 20%;
        }
    }
}

.table-W {
}
